name: Verify

on:
  pull_request:
    branches: [main]

concurrency:
  group: verify-${{ github.ref }}
  cancel-in-progress: true

jobs:
  verify-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "stable"

      - name: Install mockery
        run: go install github.com/vektra/mockery/v3@v3.6.1

      - name: Install dependencies
        run: go mod download

      - name: Run tests
        run: make test-ci

      - name: Build project
        run: make build-release
